{% extends "layout.html" %}
{% block title %}Lista{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Lista de materiales</h1>
  {% for material in materiales %}
  <li>
    Empresa: {{ material["Empresa"] }} /
    Material: {{ material["Nombre"] }} /
    Cantidad: {{ material["Cantidad"] }} /
    Precio: {{ material["Costo"] }}  
    {% if reservar %}
    ----
      <a href="{{ url_for('reservaMateriales_new', idcoleccion = idcoleccion, idmaterial = material['Id'] ) }}" class="link">Reservar</a>
    {% endif %}

  </li> 
  {% endfor %}
  <br>
  <a href="{{ url_for('reservaMateriales_index', idcoleccion = idcoleccion) }}" class="link">Volver</a>
{% endblock %}