{% extends "layout.html" %}
{% block title %}Colecciones{% endblock %}

{% block head %}
  {{ super() }} 
{% endblock %}

{% block content %}
  <h1>Metricas</h1>

  <a href="{{ url_for('cantResxMaterial')}}" class="link">Cantidad de materiales por reserva</a>
  <br>
  <a href="{{ url_for('col_importadas')}}" class="link">Cantidad de importaciones en el sistema</a>  
  <br>
  <a href="{{ url_for('bon1')}}" class="link">Metrica Bonita 1</a>  
  


  <br>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}