{% extends "layout.html" %}
{% block title %}Colecciones{% endblock %}

{% block head %}
  {{ super() }} 
{% endblock %}

{% block content %}
  <h1>Coleccion {{ collection.nombre }}</h1>

  {% for reserva in reservas %}
    <li>
      
      Reserva: {{ reserva["Nombre"] }}, {{ reserva["Id"] }}
      {% if (reserva["Estado"] == "retrasado") and reasignar %}
        
        <a href="{{ url_for('collection_new_reasignar', idreserva = reserva['Id'] ) }}" class="link">Re-asignar fechas</a>
      {% endif %}
      {% if reserva["Estado en BD"] == "no"%}
        
      <a href="{{ url_for('verificarReservaMateriales', idreserva = reserva['Id'] ) }}" class="link">Verificar</a>
      {% endif %}
    </li> 
  {% endfor %}
  {% if fabricacion%}
    <a href="{{ url_for('verificarFabricacion', idcoleccion = collection.id ) }}" class="link">Fabricacion</a>
  {% endif %}
  <a href="{{ url_for('collection_index') }}" class="link">Volver</a>
{% endblock %}