{% extends "layout.html" %}
{% block title %}Colecciones{% endblock %}

{% block head %}
  {{ super() }} 
{% endblock %}

{% block content %}
  <h1>Colecciones</h1>

  {% for collection in collections.items %}
  <li>
    {{ collection.nombre }}  
    {% if 'Comercial' in rol %}
      {% for json in aux %}
        {% if json["Id"] == collection.id and json["TienePlan"] == False %}
          <a href="{{ url_for('planComercial_new', idcoleccion = collection.id) }}" class="link">Plan comercial</a>
        {% endif %}
        {% if json["Id"] == collection.id and json["TienePlan"] and json["AsignarLotes"] == False and json["Finalizado"] == False %}
          <a href="{{ url_for('verificarLlegadaDeLotes', idcoleccion = collection.id) }}" class="link">Verificar Llegada de Lotes</a>
        {% endif %}
        {% if json["Id"] == collection.id and json["AsignarLotes"] and json["Finalizado"] == False %}
          <a href="{{ url_for('planComercial_verificar', idcoleccion = collection.id) }}" class="link">Asignar Lotes</a>
        {% endif %}
        {% if json["Id"] == collection.id and json["Finalizado"] %}
          , se termino el proceso
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if 'Operador' in rol %}
      {% for json in op %}
        {% if json["Id"] == collection.id and json["TieneReservaFabricacion"] == False %}
          <a href="{{ url_for('reservaMateriales_index', idcoleccion = collection.id) }}" class="link">Reservar materiales</a>
        {% endif %}
        {% if json["Id"] == collection.id and json["TieneReservaFabricacion"] %}
          <a href="{{ url_for('collection_detalle', idcoleccion = collection.id )}}" class="link">Detalle</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </li> 
  {% endfor %}
  {% if 'Diseñador' in rol %}
  <a href="{{ url_for('collection_new') }}" class="link">Nueva</a>
  {% endif %}
  <br>
  
  

  {% if collections.has_prev %}
  <a class= "link " href="{{url_for('collection_index',page=collections.prev_num) }}" >Anterior</a>
  {% endif %}
  {% for page_num in collections.iter_pages()%}
  {% if page_num %}
    {% if collections.page == page_num %}

    <a class= "btn btn-info" href="{{url_for('collection_index',page=page_num) }}">{{page_num}} </a>

    {% else %}

    <a class= "link" href="{{url_for('collection_index',page=page_num) }}">{{page_num}} </a>

    {% endif %} 
    {% else %} ... {% endif %} 
  {% endfor %}
  {% if collections.has_next %}
  <a class= "link " href="{{url_for('collection_index',page=collections.next_num) }}" >Siguiente</a>
  {% endif %}
  <br>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}