{% extends "layout.html" %}
{% block title %}Colecciones{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear una colección </h1>
  <form class="form-control" action="{{ url_for('collection_create') }}" method="POST" novalidate>
    {{form.hidden_tag()}}
    <label for="nombre">Nombre de la colección</label>
    {{form.nombre}}
    {% for error in form.nombre.errors %}
      <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>
    <label for="tipo">Tipo de anteojos</label>
    <select name="tipo"> 
   
    <option value=1>Lentes de lectura </option>
    <option value=1>Lentes de sol </option>
  
    </select>
  
    {% for error in form.tipo.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>
    <label for="plazoF">Plazo de fabricacion en dias</label>
    {{form.plazoF}}
    {% for error in form.plazoF.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>
    <label for="fechaL">Fecha de lanzamiento estimada</label>
    {{form.fechaL}}
    {% for error in form.fechaL.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>

    <label for="adi">Adjuntar archivo(s)</label>

    <input type="file" id="adi" name="adi">

    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('collection_index') }}" class="link">Volver</a>
{% endblock %}
