{% extends "layout.html" %}
{% block title %}Reasignar fechas reserva{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Reasingar fechas de una reserva </h1>
  <form class="form-control" action="{{ url_for('collection_reasignar', idreserva = idreserva) }}" method="POST" novalidate>
    {{form.hidden_tag()}}

    <label for="fecha">Fecha</label>
    {{form.fecha}}
    {% for error in form.fecha.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>

    <label for="fecha">Fecha2</label>
    {{form.fecha2}}
    {% for error in form.fecha2.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>
    
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('home')}}" class="link">Volver</a>
{% endblock %}