{% extends "layout.html" %}
{% block title %}Definir importacion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Importacion </h1>
  <form class="form-control" action="{{ url_for('collection_importacion', idcoleccion = idcoleccion) }}" method="POST" novalidate>
    {{form.hidden_tag()}}

    <label for="codigop">Codigo postal</label>
    {{form.codigop}}
    {% for error in form.codigop.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>

    <label for="direccion">Nueva direccion</label>
    {{form.direccion}}
    {% for error in form.direccion.errors %}
    <span style="color:red;" >{{error}}</span>
    {% endfor %}
    <br>
    
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('home')}}" class="link">Volver</a>
{% endblock %}